﻿<template>
    <div>
        <div v-if="isAddEmployee === false">
            <button class="btn btn-primary" type="button" @click="addNewEmployee">Add New Employee</button>
            <input type="text" v-model ="filterByName" @change="fetch()"/> 
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(employee,index) in employees" :key="index">
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phoneNumber}}</td>
                        <td>
                            <a :href="'/employee/update?employeeId='+employee.employeeId" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @click="deleteEmployee(employee.employeeId)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                            <a :href="'/employee/IndexApp?employeeId='+employee.employeeId" class="btn btn-primary"><fa-icon icon="question-circle"></fa-icon>Detail</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-if="isAddEmployee === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertEmployee">
                    <label class="col-form-label">Name</label>
                    <validation-provider name="Name" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEmployee.name" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Email</label>
                    <validation-provider name="Email" rules="required|email" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEmployee.email" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Phone Number</label>
                    <validation-provider name="Phone Number" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEmployee.phoneNumber" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { EmployeeService, EmployeeModel } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import { EmployeeServiceSingleton } from '../services/EmployeeService';
    import { EmployeeModelTemp } from '../models/IEmployeeModel';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListEmployee) {
            //await this.getEmployees();
            await this.fetch();
        }
    })

    export default class ListEmployee extends Vue {
        service: EmployeeService = new EmployeeService();
        serviceTest = EmployeeServiceSingleton;

        employees: EmployeeModelTemp[] = [];

        isAddEmployee = false;

        newEmployee: EmployeeModel = {
            email: '',
            name: '',
            phoneNumber: ''
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 5;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.serviceTest.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.employees = await this.serviceTest.getFilterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        async getEmployees(): Promise<void> {
            //this.employees = await this.service.allEmployee();
            this.employees = await this.serviceTest.getAllEmployee();
        }

        async insertEmployee(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            //await this.service.insert(this.newEmployee);
            await this.serviceTest.insertEmployee(this.newEmployee);
            await this.getEmployees();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            this.isAddEmployee = false;
        }

        addNewEmployee(): void {
            this.isAddEmployee = true;
            return;
        }

        async updateEmployee(employeeId): Promise<void> {
            await this.serviceTest.updateEmployee(employeeId);
            await this.getEmployees();
            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }


        async deleteEmployee(employeeId): Promise<void> {
            await this.serviceTest.deleteEmployee(employeeId);
            await this.getEmployees();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: 'Success delete employee' + employeeId
            })
        }
    }
</script>
