﻿<template>
    <div>
        <div v-if="isAddEmployee === false">
            <button class="btn btn-primary" type="button" @click="addNewEmployeeApp">Add New App</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>App Name</th>
                        <th>App Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(employeeApp,index) in employeeApps" :key="index">
                        <td>{{employeeApp.name}}</td>
                        <td>{{employeeApp.url}}</td>
                        <td>
                            <a :href="'/employee/updateApp?employeeAppId='+employeeApp.employeeAppId" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @click="deleteEmployeeApp(employeeApp)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="isAddEmployee === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertEmployeeApp">
                    <label class="col-form-label">App Name</label>
                    <validation-provider name="name" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEmployeeApp.name" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Url</label>
                    <validation-provider name="url" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEmployeeApp.url" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Created By</label>
                    <validation-provider name="createdby" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEmployeeApp.createdBy" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { EmployeeService, EmployeeModelApp,  } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListEmployeeApp) {
            await this.getEmployeeApps();
        }
    })

    export default class ListEmployeeApp extends Vue {
        service: EmployeeService = new EmployeeService();

        employeeApps: EmployeeModelApp[] = [];

        isAddEmployee = false;

        newEmployeeApp: EmployeeModelApp = {
            employeeId: '',
            name: '',
            url: '',
            createdBy: ''
        }

        async getEmployeeApps(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const employeeId = urlParams.get('employeeId')?.valueOf();
            this.employeeApps = await this.service.getSpecificEmployeeApp(employeeId);
            this.newEmployeeApp.employeeId = employeeId;
        }

        async insertEmployeeApp(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();

            if (valid == false) {
                return;
            }

            await this.service.insertEmployeeApp(this.newEmployeeApp);

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            await this.getEmployeeApps();
            this.isAddEmployee = false;
        }

        addNewEmployeeApp(): void {
            this.isAddEmployee = true;
            return;
        }

        async deleteEmployeeApp(employee): Promise<void> {
            await this.service.deleteEmployeeApp(employee)
            await this.getEmployeeApps();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: 'Success delete employee ' + employee.employeeId
            })
        }

       
    }
</script>
