﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateEmployee">
                <label class="col-form-label">Name</label>
                <validation-provider name="Name" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEmployee.name" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Email</label>
                <validation-provider name="Email" rules="required|email" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEmployee.email" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Phone Number</label>
                <validation-provider name="Phone Number" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEmployee.phoneNumber" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { EmployeeService, EmployeeModel } from '../services/NSwagService';
    import { EmployeeServiceSingleton } from '../services/EmployeeService';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdateEmployee) {
            await this.getSpecificEmployee()
        }
    })

    export default class UpdateEmployee extends Vue {
        service: EmployeeService = new EmployeeService();
        serviceTest = EmployeeServiceSingleton;

        newEmployee: EmployeeModel = {
            email: '',
            name: '',
            phoneNumber: ''
        }


        async updateEmployee(): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Update this employee data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.serviceTest.updateEmployee(this.newEmployee);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    )
                }
            })
        }

        async getSpecificEmployee(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const employeeId = urlParams.get('employeeId')?.valueOf();
            this.newEmployee = await this.service.getSpesificEmployee(employeeId);
        }
    }
</script>
