﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateEmployeeApp">
                <label class="col-form-label">App Name</label>
                <validation-provider name="App Name" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEmployeeApp.name" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">App Url</label>
                <validation-provider name="App Url" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEmployeeApp.url" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Updated By</label>
                <validation-provider name="Updated By" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEmployeeApp.updatedBy" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { EmployeeService, EmployeeModelApp } from '../services/NSwagService';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdateEmployee) {
            await this.getSpecificEmployeeApp()
        }
    })

    export default class UpdateEmployee extends Vue {
        service: EmployeeService = new EmployeeService();

        newEmployeeApp: EmployeeModelApp = {
            employeeId: '',
            name: '',
            url: '',
            updatedBy: ''
        }

        async getSpecificEmployeeApp(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const employeeAppId = urlParams.get('employeeAppId')?.valueOf();
            this.newEmployeeApp = await this.service.getSpecificApp(employeeAppId);
        }

        async updateEmployeeApp(): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Update this employee data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updateEmployeeApp(this.newEmployeeApp);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    )

                    window.location.href = '/employee/indexApp?employeeId=' + this.newEmployeeApp.employeeId;
                }
            })
        }


    }
</script>