﻿@page
@model ManagementWebApplication.Pages.Workplace.CreateModel
@{
    ViewData["Title"] = "Create Workplace";
}

@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }

    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
}

@*
    Ensure that you have set the enctype to multipart/form-data.
    Otherwise, your HTTP request Content-Type will not be set to multipart/form,
    and your uploaded file will not be detected on the server.
    Reference: https://docs.microsoft.com/en-us/previous-versions/office/developer/exchange-server-2010/aa493937(v%3Dexchg.140).
*@
<form method="post" class="row" enctype="multipart/form-data">
    <div class="col-md-12">
        <div class="row form-group">
            <label asp-for="CreateWorkplaceForm.Address" class="col-form-label col-md-4">
            </label>
            <div class="col-md-8">
                <textarea asp-for="CreateWorkplaceForm.Address" class="form-control"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="CreateWorkplaceForm.Photo" class="col-form-label col-md-4">
            </label>
            <div class="col-md-8">
                <input type="file" asp-for="CreateWorkplaceForm.Photo" class="form-control-file" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>
</form>