﻿@page
@model ManagementWebApplication.Pages.Workplace.IndexModel
@{
    ViewData["Title"] = "Workplaces";
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Workplace ID
                </th>
                <th>
                    Image
                </th>
                <th>
                    Address
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var workplace in this.Model.Workplaces)
                {
                    <tr>
                        <td>
                            @workplace.WorkplaceId
                        </td>
                        <td>
                            <img src="api/v1/blob/@workplace.BlobId" class="img-thumbnail thumb-md" />
                        </td>
                        <td>
                            @workplace.Address
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>