﻿@page "{id}"
@model ManagementWebApplication.Pages.Employee.CreateAppModel
@{
}

    <form method="post">
        <input type="text" asp-for="NewEmployeeApp.EmployeeId" class="form-control" hidden />

        <label class="col-form-label" asp-for="NewEmployeeApp.Name"></label>
        <input type="text" asp-for="NewEmployeeApp.Name" class="form-control" />
        <span asp-validation-for="NewEmployeeApp.Name" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="NewEmployeeApp.Url"></label>
        <input type="text" asp-for="NewEmployeeApp.Url" class="form-control" />
        <span asp-validation-for="NewEmployeeApp.Url" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="NewEmployeeApp.CreatedBy"></label>
        <input type="text" asp-for="NewEmployeeApp.CreatedBy" class="form-control" />
        <span asp-validation-for="NewEmployeeApp.CreatedBy" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
