﻿@page
@model ManagementWebApplication.Pages.Employee.CreateModel
@{
}
    <form method="post">
        <label class="col-form-label" asp-for="NewEmployee.Name"></label>
        <input type="text" asp-for="NewEmployee.Name" class="form-control" />
        <span asp-validation-for="NewEmployee.Name" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="NewEmployee.Email"></label>
        <input type="text" asp-for="NewEmployee.Email" class="form-control" />
        <span asp-validation-for="NewEmployee.Email" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="NewEmployee.PhoneNumber"></label>
        <input type="text" asp-for="NewEmployee.PhoneNumber" class="form-control" />
        <span asp-validation-for="NewEmployee.PhoneNumber" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>