﻿@page
@model ManagementWebApplication.Pages.Employee.IndexAppModel
@{
}

<list-employee-app></list-employee-app>
@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Url</th>
            <th>
                <a asp-page="./CreateApp" asp-route-id="@Model.IdEmployee" class="btn btn-info">Create</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
            foreach (var employeeApps in Model.employeeModelApps)
            {
                <tr>
                    <td>@i</td>
                    <td>@employeeApps.Name</td>
                    <td>@employeeApps.Url</td>
                    <td>
                        <table class="table-borderless">
                            <tr>
                                <td><a asp-page="./UpdateApp" asp-route-Id="@employeeApps.EmployeeAppId">Edit</a></td>
                                <td> <form method="post" asp-page-handler="Delete" asp-route-Id="@employeeApps.EmployeeAppId">
                                         <button type="submit" class="btn btn-danger">Delete</button>
                                     </form></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>*@

