﻿@page
@model ManagementWebApplication.Pages.Employee.IndexModel
@{
}
<list-employee></list-employee>
@*<form method="get">
            <div>
                <div>
                    <label asp-for="FilterByName">
                    </label>
                    <div class="col-md-5">
                        <input asp-for="FilterByName" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit"
                                class="btn btn-block btn-primary">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                            foreach (var employee in Model.Employees)
                            {
                                <tr>
                                    <td>@(((Model.PageIndex-1)*Model.ItemPerPage)+i)</td>
                                    <td>@employee.Name</td>
                                    <td>@employee.Email</td>
                                    <td>@employee.PhoneNumber</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a asp-page="./update" asp-route-Id="@employee.EmployeeId" class="btn btn-warning">Edit</a>
                                            </div>
                                            <div class="col-md-3">
                                                <form method="post" asp-page-handler="delete" asp-route-Id="@employee.EmployeeId">
                                                    <button type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="col-md-3">
                                                <a asp-page="./IndexApp" asp-route-Id="@employee.EmployeeId" class="btn btn-info">Details</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i += 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pagination">
                @{
                    for (var j = 1; j <= Model.TotalPage; j++)
                    {
                        var activeClass = j == Model.PageIndex ? "active" : "";
                        <li class="page-item @activeClass">
                            <a asp-route-PageIndex="@j" class="page-link">@j</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>*@