﻿@page
@model ManagementWebApplication.Pages.Employee.UpdateAppModel
@{
}
    
<update-employee-app></update-employee-app>
    @*<form method="post">
        <input type="text" asp-for="CurrentApp.EmployeeAppId" hidden />

        <label class="col-form-label" asp-for="CurrentApp.Name"></label>
        <input type="text" asp-for="CurrentApp.Name" class="form-control" />
        <span asp-validation-for="CurrentApp.Name" class="text-danger"></span>
        <br />

        <label class="col-form-label" asp-for="CurrentApp.Url"></label>
        <input type="text" asp-for="CurrentApp.Url" class="form-control" />
        <span asp-validation-for="CurrentApp.Url" class="text-danger"></span>
        <br />

        <label class="col-form-label" asp-for="CurrentApp.UpdatedBy"></label>
        <input type="text" asp-for="CurrentApp.UpdatedBy" class="form-control" />
        <span asp-validation-for="CurrentApp.UpdatedBy" class="text-danger"></span>
        
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>*@